.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Расширяем ширину выпадающего календаря */
.react-datepicker {
  width: 700px !important; /* или больше, по вкусу */
  font-size: 14px;
}

/* Увеличим ширину заголовков дней */
.react-datepicker__day-name,
.react-datepicker__day {
  width: 80px;
  margin: 0;
}

/* Центрируем текст, чтобы не обрезался */
.react-datepicker__day-name {
  white-space: nowrap;
  overflow: visible;
  text-align: center;

}
.rbc-event {
  white-space: normal !important;
  word-break: break-word;
  padding: 2px;
}