caption{
    font-size: 3dvw;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px 0px;
    color:darkslateblue;
}

.calendar{
    float: left;
}
.changed{
    background-color: yellow;
    color:black;
}